<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kisildalur.Properties.config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Kisildalur.Properties.config>
            <setting name="dvSize" serializeAs="String">
                <value>709, 530</value>
            </setting>
            <setting name="dvSplitWidth" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="dvLeft0Width" serializeAs="String">
                <value>177</value>
            </setting>
            <setting name="dvRight0Width" serializeAs="String">
                <value>89</value>
            </setting>
            <setting name="dvRight1Width" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="dvRight2Width" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="dvRight3Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="fmSize" serializeAs="String">
                <value>380, 271</value>
            </setting>
            <setting name="fmtop0Width" serializeAs="String">
                <value>229</value>
            </setting>
            <setting name="kSize" serializeAs="String">
                <value>538, 559</value>
            </setting>
            <setting name="loSize" serializeAs="String">
                <value>308, 320</value>
            </setting>
            <setting name="lSize" serializeAs="String">
                <value>386, 130</value>
            </setting>
            <setting name="pSize" serializeAs="String">
                <value>741, 440</value>
            </setting>
            <setting name="ptop0Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ptop1Width" serializeAs="String">
                <value>285</value>
            </setting>
            <setting name="ptop2Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ptop3Width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ptop4Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="umtop0Width" serializeAs="String">
                <value>229</value>
            </setting>
            <setting name="addSize" serializeAs="String">
                <value>623, 398</value>
            </setting>
            <setting name="addleft0Width" serializeAs="String">
                <value>136</value>
            </setting>
            <setting name="addSizeWidth" serializeAs="String">
                <value>623</value>
            </setting>
            <setting name="addSizeHeight" serializeAs="String">
                <value>398</value>
            </setting>
            <setting name="addtop2Width" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="addSplitWidth" serializeAs="String">
                <value>174</value>
            </setting>
            <setting name="header1" serializeAs="String">
                <value>Kísildalur ehf.
Álfheimar 2 - 104 Reykjavík
Sími: 517 1150</value>
            </setting>
            <setting name="header2" serializeAs="String">
                <value>Kt. 670905-0550
VSK no 87926
Bankanr. 0301-26-004802</value>
            </setting>
            <setting name="header3" serializeAs="String">
                <value>Sími: 517 1150</value>
            </setting>
            <setting name="header4" serializeAs="String">
                <value>Kt. 670905-0550</value>
            </setting>
            <setting name="header5" serializeAs="String">
                <value>VSK no 87926</value>
            </setting>
            <setting name="header6" serializeAs="String">
                <value>Bankanr. 0301-26-004802</value>
            </setting>
            <setting name="mysql_host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="mysql_user" serializeAs="String">
                <value>kisill</value>
            </setting>
            <setting name="mysql_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="mysql_database" serializeAs="String">
                <value>kisill</value>
            </setting>
            <setting name="order_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="settSize" serializeAs="String">
                <value>856, 602</value>
            </setting>
            <setting name="settHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="settWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="settSplitTextbox" serializeAs="String">
                <value>372</value>
            </setting>
            <setting name="mainWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="mainHeight" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="mainWidth0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mainWidth1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mainWidth2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="mainWidth3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historySearchWidth5" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="historyListWidth5" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="orderViewerSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="orderViewerWidth0" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="orderViewerWidth1" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="orderViewerWidth2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="orderViewerWidth3" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="orderViewerWidth4" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pontunSplitWidth" serializeAs="String">
                <value>658</value>
            </setting>
            <setting name="dvRight4Width" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="addtop3Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="pSizeWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="pSizeHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="orderFinishWidth" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="orderFinishHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="formSelectCategoryWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="formSelectCategoryHeight" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="pSplitWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="vorugeymslaWidth" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="vorugeymslaHeight" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="viewCustWidth" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="viewCustHeight" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="viewCustSplit" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="viewOrdWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="viweOrdHeight" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="historyWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="historyHeight" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="historySize" serializeAs="String">
                <value>700, 400</value>
            </setting>
        </Kisildalur.Properties.config>
    </userSettings>
</configuration>