<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Administer_Application.Properties.config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Administer_Application.Properties.config>
            <setting name="mainWidth" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="mainHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="itemViewerSplit" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="mysql_host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="mysql_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="mysql_database" serializeAs="String">
                <value>kisill</value>
            </setting>
            <setting name="mysql_user" serializeAs="String">
                <value>kisill</value>
            </setting>
        </Administer_Application.Properties.config>
    </userSettings>
</configuration>